<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <iframe src=<%=doc_file_path(@document) %> width="100%" height="1000">
        </iframe>
      </td>
      <td>
        <pre>
          Pages: <%= JSON.pretty_generate(@document.task.pages) %>
        </pre>
        <p>
          Label: <b><%= @document.category.name %></b>
        <br>
          Time: <b><%= @document.task.time %></b>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%#= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
